doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='ID=edge')
    title Page Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='/')
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    link(href='/css/normalize.css' rel='stylesheet')
    link(href='/css/style.css' rel='stylesheet')
  body(ng-app='app')

      
    script(src='js/bundle.js')
